<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title>Ben Morrall</title>
  <meta name="viewport" content="width=device-width" />
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
</head>
<%= content_tag :body, :class => body_class do %>

<div id="content">
<%= yield -%>
</div>

<%= jquery_include_tag :google %>
<%= javascript_include_tag "application" %>
<%= render 'analyticstracking' %>
<% end %>
</html>
