<!DOCTYPE html>
<html>
<head>
  <title>Ben Morrall</title>
  <meta name = "viewport" content = "width=device-width;initial-zoom=1;maximum-zoom=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield -%>

<%= javascript_include_tag "application" %>
<%= render 'analyticstracking' %>
</body>
</html>
